header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: black;
        }

        nav {
            width: 70%;
            display: flex;
            justify-content: space-around;
        }

        a {
            color: white;
        }